body {
  background-color: #000055;
}

#cabecalho {
  margin: 10px auto;
  text-align: center;
  color: #dddddd;
}

#cabecalho h1 {
  display: inline-block;
  border-bottom: 3px solid #dddddd;
}

#principal {
  display: flex;
}

#principal .caixa {
  margin: 30px auto;
  height: 300px;
  width: 300px;
  background: #092400;
  background: linear-gradient(45deg, #092400 0%, #097918 50%, #05ff00 100%);
}

#principal .caixa input {
  text-align: center;
  position: relative;
  width: 25px;
}

#principal .caixa #canto1 {
  top: -15px;
  left: -55px;
}

#principal .caixa #canto2 {
  top: -15px;
  right: -265px;
}

#principal .caixa #canto3 {
  bottom: -285px;
  left: -150px;
}

#principal .caixa #canto4 {
  bottom: -280px;
  right: -175px;
}

#principal .caracCaixa {
  background-color: #ffffff;
  border-radius: 20px;
  margin-right: 100px;
  width: 400px;
  height: 200px;
  padding-top: 100px;
}

#resposta {
  display: flex;
  justify-content: center;
}

#resposta button {
  texte-align: center;
}

#resposta .infos-copiar {
  text-align: center;
  background-color: #ffffff;
  line-height: 30px;
  border: none;
  width: 400px;
  padding: 0 10px;
  user-select: none;
}

#resposta .copia {
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  color: #ffffff;
  width: 30px;
  height: 30px;
  background-color: #333333;
  border-radius: 0px 5px 5px 0px;
}

#resposta .copia:hover {
  background-color: #262626;
}
